@font-face {
    font-family: poppins;
    src: url(PoppinsRegular-B2Bw.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}
html{
    font-size: 62%;
    overflow-x: hidden;
}
section{
    min-height: 90vh;
    padding: 0 9%;
    padding-top: 2.5rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 10px 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: white;
    /* height: 100px; */
}
.navbar-logo{
    width: 200px;
}
.navbar-logo img{
    width: 100%;
}

header .navbar ul{
    list-style: none;
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #212529;
    display: block;
    /* margin-top: 10px; */
    
}
header .navbar ul li a button{
    background: linear-gradient(75deg,#971d9a 10%,#293b90)!important;
    font-size: 20px;
    padding: 10px 15px;
    color: #fff;
    /* margin-left: 10px; */
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    top: -10px;
}
header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #ffff;
    display: none;
    /* top: 50px; */
}
header .navbar ul li ul li{
    width: 100%;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}
header label {
    font-size: 3rem;
    color: purple;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
/*------------ navbar-end-------- */

/* ---------------home-section */

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    /* background-size: center; */
    /* background: linear-gradient(180deg,#d1beda 10%,#fff)!important; */
}

.home .image img{
    width: 600px;
}
.home .content h3{
    font-size: 7rem ;
    color: #333;
    line-height: 1.2;
}
.home .content p{
    font-size: 1.7rem;
    color: #6666;
    padding: 1rem 0;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    background: linear-gradient(75deg,#971d9a 10%,#293b90)!important;
    color: #ffff;
    cursor: pointer;
    transition: 0.3s all linear;
    font-size: 17px;
}
.btn:hover{
    transform: scale(1.1);
}
/* ---------------home-2---------- */
.home-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-size: center;
}
h6{
    font-size: 17px;
    margin-top: -20px;
    color: darkmagenta;
    padding-bottom: 20px;
}
h6 img{
    padding-right: 10px;
    padding-top: 10px;
}
.home-2 .image img{
    width: 600px;
}
.home-2 .content h4{
    font-size: 4rem ;
    color: #333;
    line-height: 1.2;
}
.home-2 .content p{
    font-size: 1.5rem;
    color: rgba(18, 18, 18, 0.714);
    padding: 1rem 0;
}
/* ---------------------courses-------------- */
.courses-heading{
    text-align: center;
    font-size: 3rem;
    color: blueviolet;
    padding-bottom: 10px;
    padding-top: 80px;
}
.heading{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4.0rem;
}
.heading-2{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4.0rem;
    padding-bottom: 30px;
    /* background: silver; */
    background-size: cover;
    background-position: center;
}
.courses{
    /* background: silver; */
    background-size: cover;
}
.courses .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.courses .box-container .box{
    flex: 1 1 30rem;
    background: #fff;
    border-radius: 2px;
    margin: 1.5rem;
    padding: 3rem 2rem;
    text-align: center;
}
.courses .box-container .box img{
    width: 8rem;
    padding-top: 10px;
}
.courses .box-container .box h3{
    font-size: 2rem ;
    color: #333;
    padding-top: 1.5rem;
}
.courses .box-container .box p{
    font-size: 1.7rem;
    color: #6666;
    padding: 20px 1;
    padding-bottom: 60px;
    padding-top: 10px;
}
.courses .box-container .box a{
    olor: #98189a;
    font-size: 1.8rem;
    text-align: right;
    padding-top: 30px;
    padding-left: 130px;
}

/* -----------------technologies-heading--------- */
.technologies{
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.courses-heading-2{
    text-align: center;
    font-size: 20px;
    margin-top: 150px;
    padding-left: 20px;
}
.courses-heading-2 img{
    width: 20px;
}
.courses-heading-2 span{
    padding-left: 10px;
}
.technologies-heading{
    align-items: center;
    justify-content: center;
    font-family: poppins, sans-serif;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.text-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 15px;
    padding: 10px 20px;
}
.box-02{
    width: 150px;
    height: 56px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    text-align: center;
    padding-top: 13px;
    font-size: 20px;
}
.box-01{
    width: 150px;
    height: 56px;
    background-color: #971d9a;
    border: 1px solid #971d9a;
    border-radius: 5px;
    padding: 5px;
    color: #ffff;
    text-align: center;
    padding-top: 13px;
    font-size: 20px;
}
.tech-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 20px;
    padding: 20px 20px;
    margin-top: 30px;
}
.img-box{
    width: 290px;
    height: 140px;
    background-color: #f4f6f6;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.img-box img{
    width: 60px;
    padding: 15px 0px;
}
.img-box p{
    font-family: poppins, sans-serif;
    font-size: 20px;
    text-transform: none;
    color: #333;
}

/* ---------------project------------ */
.project{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-size: center;
    /* flex-wrap: wrap; */
    /* padding: 10px 20px; */
}

.project .image img{
    width: 600px;
}
.project .content h3{
    font-size: 5rem ;
    color: #333;
    line-height: 1.2;
}
.project .content p{
    font-size: 1.7rem;
    color: #6666;
    padding: 1rem 0;
}
.btns{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    background: blueviolet;
    color: #ffff;
    cursor: pointer;
    transition: 0.3s all linear;
    font-size: 17px;
}
.btn:hover{
    transform: scale(1.1);
}

/* --------------footer--------- */

.container{
    max-width: 1270px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    /* background-color: #24262b; */
    padding: 70px 0;
    background-color: #fefcf8;
    margin-top: 40px;
}
.footer-col{
    width: 40%;
    padding: 0 30px;
}
.footer-col-2{
    width: 13%;
    padding: 0 30px;
    text-align: left;
    align-items: center;
}
.footer-col-2 h4{
    font-size: 18px;
    color: #212529;;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col-2 ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #212529;;
    display: block;
    transition: all 0.3s ease;
}
.footer-col-2 ul li a:hover{
    color: red;
    margin-left: 8px;    
}
.footer-col ul li a:hover{
    color: #212529;
    margin-left: 8px;    
}
.footer-col img{
    width: 150px;
}
.footer-col p{
    font-size: 15px;
    padding: 10px 0px 10px 5px;
}
.footer-col h4{
    font-size: 18px;
    color: #212529;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
} 
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #212529;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: red;
    margin-left: 8px;    
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #333;
    text-align: center;
    line-height: 40px;
    color: #fff;
    transition: all 0.5s ease;
    margin-left: 5px;
    /* padding: 10px 20px; */
    font-size: 20px;
}
.footer-col .social-links a:hover{
    color: #e61be6;
    background-color: #333;
}

.credit{
    font-size: 20px;
    color:#3333;
    padding:50px 0px 0px ;
    text-transform: capitalize;
    text-align: center;
}

.credit span{
    color:red;
}
/* --------------footer-end------------- */



/* ------------------gallery-------------- */
.main-home{
    width: 100%;
    background-image: url(./imags/page-title-bg.jpg);
    background-size: cover;
    margin-top: 100px;
    height: 350px;
    background-position: center;
    border-bottom: 1px solid rgba(215, 215, 215, 0.767);
    padding: 20px 50px;

}
.imges img{
    display: flex;
    /* justify-content: space-between; */
    padding: 30px 30px;
    position: absolute;
    right: 10px;
}
#triagle{
    position: absolute;
    left: 40px;
    top: 150px;
}
.main-home h6{
    font-size: 25px;
    padding-top: 150px;
    margin-left: 50px;
}
.main-home a{
    margin-left: 60px;
    font-size: 15px;
}
.main-home span{
    font-size: 15px;
}
.main-home i{
    padding-left: 5px;
    padding-right: 5px;
}

#team{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.box{
    width: 280px;
    /* height: 340px; */
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    position: relative;
    border: 1px solid #f5f3f2;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.details img{
     width: 100%;
     /* height: 250px; */
     overflow: hidden;
}
.details strong{
    font-weight: 600;
    color: #141414;
    letter-spacing: 1px;
    margin-top: 20px;
    font-size: 20px;

}
.details p{
    font-size: 1.5rem;
    color: #7a7a7a;
    margin: 10px 0 8px 0px;
    cursor: pointer;
}


.box:hover{
    box-shadow: 2px 2px 30px rgba(4,15,49,0.1);
    transform: scale(1.01);
    transition: all ease 0.1s;
}
.details i{
    border: 1px solid #333;
    padding: 9px 10px;
    font-size: 20px;
    border-radius: 50%;
    margin: 15px 0px ;
    color: #333;
}
.details i:hover{
    background: linear-gradient(75deg,#971d9a 10%,#293b90)!important;
    color: #f5f3f2;
}







/* Media-query */

@media(max-width:1230px){
    header{
        padding: 20px;
    }
    header label{
        opacity: 1;
        visibility: visible;
        margin-right: 10px;
    }
    .navbar-logo{
        margin-left: 10px;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #ffff;
        border-top: 1rem solid rgba(0,0,0,0.1);
        box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
        opacity: 0;
        padding: 1rem 2rem;
    }
    header .navbar ul li{
        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    #menu-bar:checked ~ .navbar{
        opacity: 1;
    }
}
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
    section{
        min-height: 80vh;
        padding: 0 9%;
        padding-top: 2.5rem;
    }
    .home-2{
        flex-flow: column;
    }
    .text-box{
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        grid-gap: 20px;
        display: flex;
    }
}
@media (max-width: 990px){
 
    
    .home{
       flex-flow: column;
    }
    .project{
        flex-flow: column;
    }
    .home .image img{
        width: 500px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .heading{
        font-size: 2.0rem;
    }
    .heading-2{
        font-size: 2.0rem;
    }
}
@media (max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 574px){
    .home{
        margin-top: 100px;
        background-clip: border-box;
        background-size: cover;

     }
    .footer-col{
        width: 100%;
    }
    h1{
        font-size: 25px;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .project .image img{
        width: 400px;
    }
    .project .content h3{
        font-size: 3rem ;
        margin-top: 40px;
        padding-left: 20px;
    }
    .project .content p{
        font-size: 1rem;
        color: #6666;
        padding: 1rem 20px;

    }
    .btns{
        margin-left: 20px;
    }
    section{
        min-height: 70vh;
        padding: 0 9%;
        padding-top: 2.5rem;
    }
    .home .image img{
        width: 300px;
        margin-top: 20px;
    }
    .home .content h3{
        font-size: 6rem ;
    }
    .home-2 .image img{
        width: 400px;
        padding-top: 50px;
    }
    .home-2 .content h4{
        font-size: 4rem ;
        color: #333;
        line-height: 1.2;
    }
    .technologies-heading{
        font-size: 30px;
    }
    .footer-col p{
        padding: 10px 0px 10px 0px;
    }
    .footer-col .social-links a{
        margin-left: 0px;
    }
}